<% provide(:title, "Sign in") %>

<div class="container">


  <div class="row">
    <div class="col-md-6 col-md-offset-3 white-bg">
      <%= form_for(:session, url: sessions_path, html: {role: "form"}) do |f| %>

          <h1>Sign in</h1>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>


          <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      <% end %>
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>

    </div>
  </div>

</div>