<% if notice %>
    <p><%= notice %></p>
<% end %>

<h1>Units available at Vogt RV</h1>

<% @units.each do |unit| %>

    <div class="row">
      <div class="col-lg-12">
        <h3><%= unit.year %> <%= unit.make %> <%= unit.model %> <%= unit.modelnumber %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <img data-src="holder.js/100%x125/text:Unit Pic" alt="...">
      </div>
      <div class="col-lg-6">
        <p>Specs/Floorplan/Description</p>
      </div>
      <div class="col-lg-3">
        <p>Pricing</p>
      </div>
    </div>


<% end %>