<h1>Listing units</h1>

<table>
  <thead>
    <tr>
      <th>Stocknumber</th>
      <th>Unit type</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Modelnumber</th>
      <th>Msrp</th>
      <th>Sale</th>
      <th>Unit status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.stocknumber %></td>
        <td><%= unit.unit_type %></td>
        <td><%= unit.year %></td>
        <td><%= unit.make %></td>
        <td><%= unit.model %></td>
        <td><%= unit.modelnumber %></td>
        <td><%= unit.msrp %></td>
        <td><%= unit.sale %></td>
        <td><%= unit.unit_status %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
